@import url('base.css');

/* Make the thubms tile on the left */
.pika-thumbs li{width: 50px; height:35px;}
.pikachoose {width: 120px; margin: 0; position:relative;}
.pika-stage {position: absolute; left:235px;}

.pika-thumbs {margin: 10px 0 0 17px; width:250px;}
	.pika-thumbs li {margin: 5px 5px;}
#pikame {
	margin-left: -22px;
}